<head>
    <title>Login | Nginx Virtual Host Management System</title>
    <%-include('include/head')%>
</head>
<body class="bg-dark">
    <div class="container my-4 card p-4">
      <h2><i class="fa-solid fa-cog me-2"></i> Nginx Virtual Host Management System.</h2>
      <hr>
      <form action="/login" method="post">
          <div class="">
            <div class="mb-3 col-lg">
              <label for="" class="form-label">Username: </label>
              <input type="text" class="form-control" id="" name="username" required>
            </div>
            <div class="mb-3 col-lg">
              <label for="" class="form-label">Password:</label>
              <input type="password" class="form-control" id="" name="password" required>
            </div>
          </div>
          <button type="submit" class="btn btn-primary col-lg"><i class="fa fa-sign-in me-2"></i> Login</button>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>